#slider {
    position: relative;
	width: 100%;
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#000;
	overflow:auto;
}

.a {
	margin: 0 auto;
	width: 1200px;
	height:1100px;
	background: url(../images/2.jpg)  no-repeat top center;
}
.b {
	width: 800px;
	height: 50px;
}

.c {
	clear: both;
	width: 800px;
	padding: 30px 0;
	height: 580px;
}

.d {
	float: left;	
	width: 320px;
}

.e {
	float: right;
	width: 480px;
}

.header h1 { display: block; width: 315px; height: 166px; margin: 0 auto 80px; padding: 0 }
.header h1 a { float: left; margin-top: 25px; width: 315px; height: 166px; background: url(../images/3.jpg); text-indent: -10000px; }

.menu {
	clear: both;
	float: right;
}

.f {
	clear: both;
	float: right;
	width: 360px;
	margin: 20px 40px;
	margin-right:430px;
	padding: 20px;
	text-align: left;
	background: #070105;
	border: 1px solid #26071d;
}
.f a {
	color: #fff;
}
.oe{
	
	color:#fff;
	font-family:"简体";
	font-size:20px;
	font-weight:200px;
	text-align:left;

}
.scroll {
    width: 480px;
    height: 580px;
    overflow: auto;
    position: relative;
    clear: left;

}

.scrollContainer div.panel {
    width: 400px;
    height: 500px;
	padding: 40px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	float: right;
	padding: 8px 15px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	color: #fff;
	text-align: right;
}

ul.navigation a:hover, ul.navigation a.selected {
	background: #0f020b
}

ul.navigation a:focus {
    outline: none;
}


.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}
